@{
    ViewData["Title"] = "Postulaciones";
}

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary " onclick="location='/Administrador/Perfil'">Mi Perfil</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Usuarios_Empresas'">Usuarios</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Ofertas_Publicadas'">Ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary active">Postulaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Reportes'">Reportes</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Sugerencias'">Sugerencias</button>
</div>

<br>
<br>

<div class="input-group w-50">
    <span class="input-group-text" id="basic-addon1">
        <img src="~/imagenes/search.svg" width="16" height="16">
    </span>
    <input type="text" class="form-control" placeholder="Nombre de postulante" aria-label="Nombre de postulante" aria-describedby="basic-addon1">
    &nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
</div>

<br>

<table id="tbListadoEmpresa" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Puesto</th>
            <th scope="col">Empresa</th>
            <th scope="col">Salario</th>
            <th scope="col">Tipo de Contrato</th>
            <th scope="col">Fecha Postulación</th>
        </tr>
    </thead>
</table>

<script>
    loadTable();
    function loadTable() {
        let table = $("#tbListadoPostulante").DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis', 'print']
        });

        table.buttons().container()
            .insertBefore("#tbListadoPostulante_filter");

    }
</script>
