@{
    ViewData["Title"] = "Crear Oferta Laboral";
}

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/Publicaciones'">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/OfertaLaboral'">Mis ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/Perfil'">Mi perfil</button>
</div>















