@{
    ViewData["Title"] = "Crear Oferta Laboral";
}

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/Publicaciones'">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/OfertaLaboral'">Mis ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/Perfil'">Mi perfil</button>
</div>

<br>

<h1 style="text-align:center">Registro de nueva Oferta Laboral</h1>

<br>

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNombre">NOMBRE DE LA EMPRESA</label>
            <input type="text" class="form-control" id="inputNombre">
        </div>
        <div class="form-group col-md-6">
            <label for="inputApellido">APELLIDOS</label>
            <input type="text" class="form-control" id="inputApellido">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputDNI">DNI</label>
            <input type="text" class="form-control" id="inputDNI">
        </div>
        <div class="form-group col-md-3">
            <label for="inputFecha">FECHA NACIMIENTO</label>
            <input type="date" class="form-control" id="inputFecha">
        </div>
        <div class="form-group col-md-3">
            <label for="inputCV">CARGAR CV</label>
            <input type="file" class="form-control" id="inputCV">
        </div>
        <div class="form-group col-md-3">
            <label for="inputFOTO">CARGAR FOTO</label>
            <input type="file" class="form-control" id="inputFOTO">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">CORREO ELECTRÓNICO</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword4">CONTRASEÑA</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputConfPassword4">CONFIRMAR CONTRASEÑA</label>
            <input type="password" class="form-control" id="inputConfPassword4">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputEmail4">DESCRIPCIÓN</label>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
    </div>

    <!-- BOTON PARA VENTANA EMERGENTE -->

    <div class="text-center">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">
            Registrar
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">
            Cancelar
        </button>
    </div>

    <!-- VENTANA EMERGENTE -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="text-center">
                    <div class="modal-body">
                        REGISTRO EXITOSO
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success" data-dismiss="modal">ACEPTAR</button>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>

</form>

<br>