@{
    ViewData["Title"] = "Crear Oferta Laboral";
}

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/Publicaciones'">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/OfertaLaboral'">Mis ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/Perfil'">Mi perfil</button>
</div>

<br>

<h1 style="text-align:center">Registro de nueva Oferta Laboral</h1>

<br>

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputPuesto">Puesto de la Oferta</label>
            <input type="text" class="form-control" id="inputPuesto">
        </div>
        <div class="form-group col-md-6">
            <label for="inputTipoContrato">Tipo De Contrato</label>
            <input type="text" class="form-control" id="inputTipoContrato">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputSalario">Salario</label>
            <input type="number" min="1" step="any" class="form-control" id="inputSalario">
        </div>
        <div class="form-group col-md-3">
            <label for="inputFechaPubli">Fecha Publicación</label>
            <input type="date" class="form-control" id="inputFechaPubli">
        </div>
        <div class="form-group col-md-3">
            <label for="inputFechaCancel">Fecha Cierre</label>
            <input type="date" class="form-control" id="inputFechaCancel">
        </div>
        <div class="form-group col-md-3">
            <label for="inputFOTO">CARGAR FOTO</label>
            <input type="file" class="form-control" id="inputFOTO">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">CORREO ELECTRÓNICO</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputPassword4">CONTRASEÑA</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputConfPassword4">CONFIRMAR CONTRASEÑA</label>
            <input type="password" class="form-control" id="inputConfPassword4">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputEmail4">DESCRIPCIÓN</label>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
    </div>

    <!-- BOTON PARA VENTANA EMERGENTE -->

    <div class="text-center">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">
            Registrar nueva Oferta Laboral
        </button>&nbsp;&nbsp;&nbsp;&nbsp;

        <button type="submit" class="btn btn-danger" onclick="location='/Empresa/OfertaLaboral'">Cancelar</button>

    </div>

    <!-- VENTANA EMERGENTE -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="text-center">
                    <div class="modal-body">
                        Oferta Creada Exitosamente
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="location='/Empresa/OfertaLaboral'">Aceptar</button>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>




</form>

<br>