@{
    ViewData["Title"] = "Mi Perfil";
}

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary" onclick="location='/Postulante/Publicaciones'">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Postulante/MisOfertas'">Mis Postulaciones</button>
    <button type="button" class="btn btn-outline-primary active">Mi perfil</button>
</div>

@*<button type="button" class="btn btn-link" style="float: right;">DESACTIVAR CUENTA</button>*@
<button type="button" class="btn btn-link" style="float: right;" onclick="location='/Postulante/Perfil/Editar'">Editar mi perfil</button>

<br>
<br>

<form>
    <div class="form-row">
        <div class="file-field col-md-3">
            <img src="https://i.ibb.co/CMnr32w/images.jpg" class="img-fluid"
                 alt="example placeholder" width="200" height="200">
        </div>

        <div class="form-group col-md-6">
            <label for="inputNombre">Nombres</label>
            <input type="text" readonly="readonly" class="form-control" id="inputNombre">

            <label for="inputApellido">Apellidos</label>
            <input type="text" readonly="readonly" class="form-control" id="inputApellido">

            <label for="inputDNI">DNI</label>
            <input type="text" readonly="readonly" class="form-control" id="inputDNI">

            <label for="inputFechNac">Fecha De Nacimiento</label>
            <input type="text" readonly="readonly" class="form-control" id="inputFechNac">

            <label for="inputEmail">Correo</label>
            <input type="text" readonly="readonly" class="form-control" id="inputEmail">

            <label for="inputCV">Cargar CV</label>
            <input type="file" readonly="readonly" class="form-control" id="inputCV">

            <label for="inputEmail4">Descripción</label>
            <textarea readonly="readonly" class="form-control" aria-label="With textarea"></textarea>

        </div>

    </div>    
        
</form>

<button type="button" class="btn btn-info" style="float: right;" onclick="location='/Postulante/SugerenciaPos'">Enviar Sugerencias</button>

<br>
<br>

