<h1>inicia sesión</h1>
<hr>

<form method="post" action="/loginn/login">
    <div class="form-group">
        <label for="exampleinputemail1">email address</label>
        <input type="email" class="form-control" id="txtemail" name="email" aria-describedby="emailhelp">
        <small id="emailhelp" class="form-text text-muted">we'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleinputpassword1">password</label>
        <input type="password" class="form-control" id="txtpassword" name="password">
    </div>
    @*<div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="examplecheck1">
            <label class="form-check-label" for="examplecheck1">check me out</label>
        </div>*@
    <button type="submit" class="btn btn-primary">submit</button>
</form>