
<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/Publicaciones'">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/OfertaLaboral'">Mis ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary active">Mi perfil</button>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" id="btnGuardarCambios">Guardar Cambios</button>
    <button type="button" class="btn btn-danger" id="btnGuardarCancelar" onclick="location='/Empresa/Perfil'">Cancelar</button>
</div>
<br>
<br>
<br>

<form>
    <div class="form-row">
        <div class="file-field col-md-3">
            <img src="https://i.ibb.co/frg1Bnf/descarga.png" class="img-fluid"
                 alt="example placeholder">
        </div>

        <div class="form-group col-md-6">
            <label for="inputNombre">NOMBRE</label>
            <input type="text" class="form-control" id="inputNombre">
            <label for="inputRazon">RAZON SOCIAL</label>
            <input type="text" class="form-control" id="inputRazon">
            <label for="inputRUC">RUC</label>
            <input type="text" class="form-control" id="inputRUC">
            <label for="inputDirec">DIRECCIÓN</label>
            <input type="text" class="form-control" id="inputDirec">

        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-3">

        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">DESCRIPCIÓN</label>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <br>
    </div>
</form>

@*<button type="button" class="btn btn-link" style="float: right;" onclick="location='/Empresa/Sugerencia'">ENVIAR SUGERENCIA</button>*@

<br>
<br>
