<h1>ESTA ES AREA DE LA EMPRESA PERFIL</h1>

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/Publicaciones'">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/OfertaLaboral'">Mis ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary active">Mi perfil</button>
</div>

<button type="button" class="btn btn-link" style="float: right;">DESACTIVAR CUENTA</button>
<button type="button" class="btn btn-link" style="float: right;">EDITAR PERFIL</button>

<br>
<br>
<br>

<form>
    <div class="form-row">
        <div class="file-field col-md-4">
            <img src="https://i.ibb.co/XDFZj60/Foto-WEB.jpg" class="img-fluid"
                 alt="example placeholder">
        </div>

        <div class="form-group col-md-6">
            <label for="inputNombre">NOMBRE</label>
            <input type="text" class="form-control" id="inputNombre">
            <label for="inputRazon">RAZON SOCIAL</label>
            <input type="text" class="form-control" id="inputRazon">
            <label for="inputRUC">RUC</label>
            <input type="text" class="form-control" id="inputRUC">
            <label for="inputDirec">DIRECCIÓN</label>
            <input type="text" class="form-control" id="inputDirec">

        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-4">

        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">DESCRIPCIÓN</label>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
    </div>
</form>
