<h1>ESTA ES AREA DE LA EMPRESA LOGIN</h1>

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary">Mis ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary">Mi perfil</button>
</div>



@{
    ViewData["Title"] = "Home Page";
}
<header>
</header>
<body>
    <br>
    <div class="text-center">
        <h2>Últimas publicaciones</h2>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <p>Aqui van a ir las publicaciones que estaran en la BD</p>
    <p>
        hola hola hola
    </p>
    <p>
        hola hola hola
    </p>
    <p>
        hola hola hola
    </p>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</body>


