<h1>ESTA ES AREA DE LA EMPRESA PUBLICACIONES</h1>

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary active">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/OfertaLaboral'">Mis ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/Perfil'">Mi perfil</button>
</div>


@{
    ViewData["Title"] = "Home Page";
}
<header>
</header>

    <body>
        <br>
            <div class="text-center">
                <h2>Últimas publicaciones</h2>
            </div>


            <br>
                <p>Estas son las últimas publicaciones de ofertas laborales en el portal de "Tu Nuevo Trabajo"</p>
                <br>


                    <table class="table-secondary table-borderless table align-middle">
                        <tbody>
                            <tr>
                                <td class="align-middle">Practicante TI</td>
                                <td class="align-middle">10/04/2021</td>
                                <td class="align-middle">Corporación Educativa se encuentra en la búsqueda de personal altamente calificado para el puesto de Practicante Pre-Profesional Seguridad TI</td>
                                <td class="align-middle">Practicas Preprofesionales</td>
                            </tr>

                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>This cell is aligned to the top.</td>
                                <td>...</td>
                            </tr>
                        </tbody>

                    </table>


</body>

