@model IEnumerable<Tu_Nuevo_Trabajo2021.Models.OfertaLaboral>
@{
    ViewData["Title"] = "Publicaciones";
}

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary active">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/OfertaLaboral'">Mis ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Empresa/Perfil'">Mi perfil</button>
</div>

<header>   
    <div class="input-group w-70">
        <span class="input-group-text" id="basic-addon1">
            <img src="~/imagenes/search.svg" width="16" height="16">
        </span>
        <input type="text" class="form-control" placeholder="Nombre de empresa" aria-label="Nombre de empresa" aria-describedby="basic-addon1">
        &nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="button" id="button-addon2">Buscar</button>
    </div>    

    <br>
</header>
<body>
   
    <div class="form-row">
        <div class="form-group col-md-2">
            <img src="https://i.ibb.co/k66q6K0/alicorp-squarelogo-1540813111809.png" class="img-fluid"
                 alt="example placeholder" width="70" height="70">
        </div>
        <div class="form-group col-md-10">

            <table class="table table-striped">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.FechaInicio)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.PuestoOferta)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.TipoContrato)
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>    
</body>
