<h1>ESTA ES AREA DE ADMINISTRADOR USUARIOS</h1>

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary">Perfil</button>
    <button type="button" class="btn btn-outline-primary">Usuarios</button>
    <button type="button" class="btn btn-outline-primary">Ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary">Postulaciones</button>
    <button type="button" class="btn btn-outline-primary">Reportes</button>
    <button type="button" class="btn btn-outline-primary">Sugerencias</button>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">EMPRESA</button>
    <button type="button" class="btn btn-primary">POSTULANTE</button>
    
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ESTADO</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">RUC</th>
            <th scope="col">FECHA RE</th>
            <th scope="col">CORREO</th>
            <th scope="col">DIRECCION</th>
            <th scope="col">TELEFONO</th>

        </tr>
    </thead>

</table>
