<h1>ESTA ES AREA DE POSTULANTE MIS Postulaciones</h1>

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary" onclick="location='/Postulante/Publicaciones'">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary active">Mis Postulaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Postulante/Perfil'">Mi perfil</button>
</div>
