<h1>ESTA ES AREA DE POSTULANTE MIS OFERTAS</h1>

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary" >Mis Postulaciones</button>
    <button type="button" class="btn btn-outline-primary">Mi perfil</button>
</div>
