<h1>ESTA ES AREA DE POSTULANTE MIS OFERTAS</h1>

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary">Mis Postulaciones</button>
    <button type="button" class="btn btn-outline-primary">Mi perfil</button>
</div>



<table class="table">
    <thead>
        <tr>
            <th scope="col">Titulo de Oferta</th>
            <th scope="col">Fecha de Publicacion</th>
            <th scope="col">Empresa</th>


        </tr>
    </thead>

</table>
