@{
    ViewData["Title"] = "Grupo: 10mo ciclo";
}
<h1>@ViewData["Title"]</h1>

<p>Integrantes:</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres Completos</th>
            <th scope="col">Código</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Fredsander Daril Figueroa Cespedes</td>
            <td>18100861</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Oscar Daivi Martel Pariona</td>
            <td>18100889</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Wendy Jazmin Mendoza Pérez</td>
            <td>20100957</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Leonardo Villacrez Ortiz</td>
            <td>17100812</td>
        </tr>
    </tbody>
</table>
