@model IEnumerable<Tu_Nuevo_Trabajo2021.Models.OfertaLaboral>
@{
    ViewData["Title"] = "Home Page";
}
<header>
</header>
<body>
    <br>
    <div class="text-center">
        <h2>Últimas publicaciones</h2>
    </div>

    @*List <Oferta> listado = () AQUÍ LLAMAR AL SQL*@
    <br>
    <p>Estas son las últimas publicaciones de ofertas laborales en el portal de "Tu Nuevo Trabajo".</p>
    <br>


    <table class="table-secondary table-borderless table align-middle">
        <tbody>
            @foreach (var item in Model) {             
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuestoOferta)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoContrato)
                </td>
            </tr>
            }   
        </tbody>
    </table>
   
</body>