@{
    ViewData["Title"] = "Home Page";
}
<header>    
    
    

</header>
<body>
    <br>
    <div class="text-center">
        <h2>Últimas publicaciones</h2>
    </div>

    @*List <Oferta> listado = () AQUÍ LLAMAR AL SQL*@
<p>Estas son las últimas publicaciones de ofertas laborales en el portal de "Tu Nuevo Trabajo"</p>
    <br>
    </br>

    <table class="table-secondary table-borderless table align-middle">
        <tbody>
            <tr>
                <td class="align-middle">Practicante TI</td>
                <td class="align-middle">10/04/2021</td>
                <td class="align-middle">Corporación Educativa se encuentra en la búsqueda de personal altamente calificado para el puesto de Practicante Pre-Profesional Seguridad TI</td>
                <td class="align-middle">Practicas Preprofesionales</td>
            </tr>
                           
            <tr>
                <td>...</td>
                <td>...</td>
                <td>This cell is aligned to the top.</td>
                <td>...</td>
            </tr>
        </tbody>

    </table>    
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</body>