<h1>ESTA ES AREA DE LA EMPRESA LOGIN</h1>

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary">Publicaciones</button>
    <button type="button" class="btn btn-outline-primary">Mis ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary">Mi perfil</button>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Puestos</th>
            <th scope="col"># de Postulantes</th>
            <th scope="col">Salario</th>
            <th scope="col">Tipo de Contrato</th>
            <th scope="col">Fecha Limite</th>

        </tr>
    </thead>

</table>
