@{
    ViewData["Title"] = "Lista Usuarios Empresa";
}

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary " onclick="location='/Administrador/Perfil'">Mi Perfil</button>
    <button type="button" class="btn btn-outline-primary active">Usuarios</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Ofertas_Publicadas'">Ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Postulaciones'">Postulaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Reportes'">Reportes</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Sugerencias'">Sugerencias</button>
</div>

<br>
<br>

<div class="text-left">
    <div class="btn-group btn-group-toggle" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary active">Empresas</button>
        <button type="button" class="btn btn-primary" onclick="location='/Administrador/Usuarios_Postulantes'">Postulantes</button>
    </div>
</div>


<div class="form-group col-md-12 mx-auto">
    <button type="button" class="btn btn-outline-success" style="float: right;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
        </svg>
        <a href="Reporte_10072021.xlsx" download>
            EXCEL
        </a>
    </button>
    <button type="button" class="btn btn-outline-danger" style="float: right;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
        </svg>
        <a href="Reporte_10072021.pdf" download>
            PDF
        </a>
    </button>
</div>



<br>

<table id="tbListadoEmpresa" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Razon Social</th>
            <th scope="col">RUC</th>
            <th scope="col">Dirección</th>
            <th scope="col">Correo</th>
            <th scope="col">Telefono</th>
        </tr>
    </thead>
</table>

    <script>
        loadTable();
        function loadTable() {
            let table = $("#tbListadoPostulante").DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'colvis', 'print']
            });

            table.buttons().container()
                .insertBefore("#tbListadoPostulante_filter");

        }
    </script>
