@{
    ViewData["Title"] = "Sugerencias";
}
<form>

    <div class="form-row">
        <div class="form-group col-md-3">

        </div>

        <div class="form-group col-md-6">
            <label for="inputTituloSuge">Título de la Sugerencia</label>
            <input type="text" class="form-control" id="inputTituloSuge">

        </div>

    </div>


    <div class="form-row">
        <div class="form-group col-md-3">

        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Descripción</label>
            <textarea class="form-control" aria-label="With textarea" rows="10" cols="40"></textarea>
        </div>
    </div>

</form>

<!-- BOTON PARA VENTANA EMERGENTE -->

<div class="text-center">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">
        Enviar Sugerencia
    </button>
</div>

<!-- VENTANA EMERGENTE -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="text-center">
                <div class="modal-body">
                    Sugerencia Enviada. Muchas gracias.
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="location='/Postulante/Perfil'">Aceptar</button>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>

<br>
<br>
