@{
    ViewData["Title"] = "Lista Sugerencias";
}

<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary " onclick="location='/Administrador/Perfil'">Mi Perfil</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Usuarios_Empresas'">Usuarios</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Ofertas_Publicadas'">Ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Postulaciones'">Postulaciones</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Reportes'">Reportes</button>
    <button type="button" class="btn btn-outline-primary active">Sugerencias</button>
</div>

<br>
<br>

<div class="form-group input-group w-25">
    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Elegir Usuario...</option>
        <option value="1">Empresas</option>
        <option value="2">Postulante</option>
    </select>
    &nbsp;&nbsp;&nbsp;<button class="btn btn-primary btn-lg" type="button" id="button-addon2">Buscar</button>
</div>

<table id="tbListadoSugerencias" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre Usuario</th>
            <th scope="col">Título Sugerencia</th>
            <th scope="col">Descripción</th>
        </tr>
    </thead>
</table>

    <script>
        loadTable();
        function loadTable() {
            let table = $("#tbListadoSugerencias").DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'colvis', 'print']
            });

            table.buttons().container()
                .insertBefore("#tbListadoPostulante_filter");

        }
    </script>
