@{
    ViewData["Title"] = "Reportes";
}
<div class="btn-group btn-lg btn-block" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary " onclick="location='/Administrador/Perfil'">Mi Perfil</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Usuarios_Empresas'">Usuarios</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Ofertas_Publicadas'">Ofertas Publicadas</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Postulaciones'">Postulaciones</button>
    <button type="button" class="btn btn-outline-primary active">Reportes</button>
    <button type="button" class="btn btn-outline-primary" onclick="location='/Administrador/Sugerencias'">Sugerencias</button>
</div>

<br>
<br>

<form>
    <div class="form-row">
        <div class="form-group col-md-6 input-group w-50">
            <span class="input-group-text" id="basic-addon1">
                <img src="~/imagenes/search.svg" width="16" height="16">
            </span>
            <input type="text" class="form-control" placeholder="Nombre de postulante" aria-label="Nombre de postulante" aria-describedby="basic-addon1">
            &nbsp;&nbsp;&nbsp;<button class="btn btn-outline-primary" type="button" id="button-addon2">Buscar</button>
        </div>

        <div class="form-group col-md-3">
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Elegir Usuario...</option>
                <option value="1">Empresas</option>
                <option value="2">Postulante</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <select class="custom-select" id="inputGroupSelect02">
                <option selected>Elegir Estado...</option>
                <option value="1">Activo</option>
                <option value="2">Inactivo</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3" style="white-space:nowrap">
            <label for="inputFecha">Fecha Inicio</label><input type="date" class="form-control" id="inputFechaInicio">
        </div>
        <div class="form-group col-md-3">
            <label for="inputFecha">Fecha Fin</label>
            <input type="date" class="form-control" id="inputFechaFin">
        </div>

    </div>
    
    <table id="tbListadoReportes" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">DNI/RUC</th>
                <th scope="col">Fecha</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
            </tr>
        </thead>
    </table>

</form>

    <script>
        loadTable();
        function loadTable() {
            let table = $("#tbListadoPostulante").DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'colvis', 'print']
            });

            table.buttons().container()
                .insertBefore("#tbListadoPostulante_filter");

        }
    </script>
