<div class="text-center">
    <h1>Iniciar Sesión</h1>
</div>
    <hr>

    <form method="post" action="/LOGIN2/Home/login">
        <div class="form-row">
            <div class="form-group col-md-3">

            </div>
            <div class="form-group col-md-6">
                <label for="exampleinputemail1">Usuario</label>
                <input type="email" class="form-control" id="txtemail" name="email" aria-describedby="emailhelp">
                <small id="emailhelp" class="form-text text-muted"></small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">

            </div>
            <div class="form-group col-md-6">
                <label for="exampleinputpassword1">Password</label>
                <input type="password" class="form-control" id="txtpassword" name="password">
            </div>
        </div>

        @*<div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="examplecheck1">
            <label class="form-check-label" for="examplecheck1">check me out</label>
        </div>*@
        <div class="text-center">

            <button type="submit" class="btn btn-success">Iniciar Sesión</button>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-3">

            </div>
            <div class="form-group col-md-4">
                <div class="nav-item">
                    <a href="/LOGIN2/Home/Olvidaste">¿Haz olvidado tu contraseña?</a>
                </div>
            </div>
            <div class="form-group col-md-1">

            </div>
            <div class="form-group col-md-4">
                <div class="nav-item">
                    <a href="/Registro/Postulante/RegistroPostulante">Registrarme</a>
                </div>
            </div>
        </div>


</form>


