
    <h1>¿Haz olvidado tu contraseña? </h1>

<hr>

    <h5> Por favor, ingresa el correo Vinculado a tu cuenta, luego de aceptar </h5>
    <h5> se enviara un link para poder crear una nueva contraseña </h5>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="inputNombre">Correo</label>
            <input type="text" class="form-control" id="inputNombre">

        </div>
    </div>
    <input type="button" class="btn btn-success" value="Enviar" onclick="location='/LOGIN2/Home/Login'" />
