<h1>¿Haz olvidado tu contraseña? </h1>
<h5> Por favor, ingresa el correo Vinculado a tu cuenta, luego de aceptar </h5>
<h5> se enviara un link para poder crear una nueva contraseña </h5>
<div class="form-row">
    <div class="form-group col-md-6">

        <label for="exampleinputemail1">Correo</label>
        <input type="email" class="form-control" id="txtcorreo" name="correo" aria-describedby="emailhelp">
        <small id="emailhelp" class="form-text text-muted"></small>
    </div>
</div>
    <input type="button" class="btn btn-success" value="Enviar" onclick="location='/LOGIN2/Home/Login'" />


   
